<div class="page-header">
  <%= link_to new_blog_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Blog
  <% end %>
  <h1 class="header">Your Posts</h1>
</div>

  <% @blogs.each do |blog| %>
  <div class="blog-post">
        <img class="photo_url" src="<%= blog.photo %>">
        <div class="content">
        <h1 class="title link"><%= link_to blog.title, blog %></h1>
        <p><%= blog.post %></p>
        <div class="byline">
          <%= image_tag blog.user.avatar.url, class: 'photo' %>
          <p class="author link"><%= link_to blog.user.display_name, blog.user %></p>
        </div><br>
        </div>
        <%= link_to "Edit Blog", edit_blog_path(blog) , class: 'button button1 hover' %><%= link_to 'Delete', blog, class: 'button hover', method: :delete, data: { confirm: 'Are you sure?' , } %>
        </div>
      <% end %>


