<div class="page-header">
  <%= link_to new_blog_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Blog
  <% end %>
  <h1>Your Posts</h1>
</div>

  <% @blogs.each do |blog| %>
  <div class="blog-post">
        <img class="photo_url" src="<%= blog.photo %>">
        <h1 class="title"><%= link_to blog.title, blog %></h1>
        <p><%= blog.post %></p>
        <p class="author">Author: <%= link_to blog.user.display_name, blog.user %></p>
        <%= link_to "Edit Blog", edit_blog_path(blog) , class: 'button button1' %><%= link_to 'Delete', blog, class: 'button', method: :delete, data: { confirm: 'Are you sure?' , } %>
        </div>
      <% end %>


