<div class="page-header">
  <%= link_to new_blog_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Blog
  <% end %>
  <h1>Your Blogs</h1>
</div>

  <% @blogs.each do |blog| %>
        <h1><%= link_to blog.title, blog %></h1>
        <img class="photo_url" src="<%= blog.photo %>">
        <p><%= blog.post %></p>
        <%= link_to "Edit Blog", edit_blog_path(blog) , class: 'btn btn-primary' %>
      <% end %>
