<div class="page-header">
  <%= link_to blogs_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_blog_path(@blog), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Blog</h1>
</div>

<h1><%= @blog.title %></h1>>

  <img class="photo_url" src="<%= @blog.photo %>">

  <p><%= @blog.post %></p>



</dl>
