<div class="page-header">
  <%= link_to new_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <% end %>
  <h1>All users</h1>
</div>


      <%= content_tag_for(:tr, @users) do |user| %>
      <div class="profile users">
            <h1><%= user.display_name %></h1>
            <%= image_tag user.avatar.url, class: "image" %>
            <br><br>
            <p><strong>First name:</strong> <%= user.first_name %></p>
            <p><strong>Last name:</strong> <%= user.last_name %></p>
            <p><strong>Email:</strong> <%= user.email %></p>
      </div>
      <% end %>
