<div class="page-header">

  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>My Profile</h1>
</div>


<div class="profile">
  <h1><%= @user.display_name %></h1>

  <%= image_tag @user.avatar.url, class: "image" %>
  <br><br>

  <p><strong>First name:</strong> <%= @user.first_name %></p>

  <p><strong>Last name:</strong> <%= @user.last_name %></p>

  <p><strong>Email:</strong> <%= @user.email %></p>

  </div>



