<div class="page-header">

  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Your Account</h1>
</div>

<dl class="dl-horizontal">

  <%= image_tag @user.avatar.url %>

  <dt>Name:</dt>
  <dd><%= @user.first_name %></dd>

  <dt>Last name:</dt>
  <dd><%= @user.last_name %></dd>

  <dt>Display name:</dt>
  <dd><%= @user.display_name %></dd>

  <dt>Email:</dt>
  <dd><%= @user.email %></dd>


</dl>
