<div class="page-header">

  <%= link_to edit_user_path(@user), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>My Profile</h1>
</div>


<div class="profile">
  <%= image_tag @user.avatar.url, class: "image" %>

  <p><%= @user.first_name %></p>

  <p><%= @user.last_name %></p>

  <p><%= @user.display_name %></p>

  <p><%= @user.email %></p>

  </div>



